.rows{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer{
  background-color: rgba(0, 0, 0, 0.5);
}

a{
  color: #5ec6cc !important;
  text-decoration: none !important;
}

.spinner-border{
  --bs-spinner-width: 8rem !important;
  --bs-spinner-height: 8rem !important;
  --bs-spinner-border-width: 0.5em !important;
}

.leaflet-tooltip-bottom::before{
  border-bottom-color: black !important;
}